name: CI

on:
  push:
    paths:
      - "**/*.rs"
      - "**/Cargo.toml"
      - "**/Cargo.lock"
  pull_request:
    paths:
      - "**/*.rs"
      - "**/Cargo.toml"
      - "**/Cargo.lock"

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@v2
      - name: Clippy
        run: cargo clippy --all-targets --all-features --locked -- -D warnings

  build-linux:
    runs-on: ubuntu-latest
    needs: lint
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@v2
      - name: Test
        run: cargo test --locked
      - name: Build
        run: cargo build --release --locked
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: irgen-gui-linux
          path: target/release/irgen-gui

  build-macos:
    runs-on: macos-latest
    needs: lint
    env:
      MACOSX_DEPLOYMENT_TARGET: "10.15"
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@v2
      - name: Test
        run: cargo test --locked
      - name: Build
        run: cargo build --release --locked
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: irgen-gui-macos
          path: target/release/irgen-gui

  build-windows:
    runs-on: windows-latest
    needs: lint
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@v2
      - name: Test
        run: cargo test --locked
      - name: Build
        run: cargo build --release --locked
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: irgen-gui-windows
          path: target/release/irgen-gui.exe
