name: CI

on:
  push:
  pull_request:

jobs:
  build-macos:
    runs-on: macos-latest
    env:
      MACOSX_DEPLOYMENT_TARGET: "10.15"
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@v2
      - name: Test
        run: cargo test --locked
      - name: Build
        run: cargo build --release --locked
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: irgen-gui-macos
          path: target/release/irgen-gui

  build-windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@v2
      - name: Test
        run: cargo test --locked
      - name: Build
        run: cargo build --release --locked
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: irgen-gui-windows
          path: target/release/irgen-gui.exe
